@import "colours";

.card-body {
  background-color: #001f3f;
  border-radius: 1rem;
}

.card-body * {
  color: $white;
  a:hover {
    color: $background-color;
  }
}

#login-here {
color: $white;
  &:hover {
 color: $background-color;
 }
}

.form-floating > .form-label {
  color: #1b2229; /* Replace with your preferred color */
}
