@use "colors";

.card-body {
  background-color: colors.$card-bg-color;
  border-radius: 1rem;
}

.card-body * {
  color: colors.$white;
  a:hover {
    color: colors.$background-color;
  }
}

#login-here {
  color: colors.$white;
  &:hover {
    color: colors.$background-color;
  }
}

.form-floating > .form-label {
  color: colors.$card-bg-color;
}
