@use "colors";

.navbar {
  background-color: colors.$card-bg-color;
}

.nav-link {
  color: colors.$white;
  &:hover {
    color: colors.$background-color;
    border-radius: 3px;
  }
}

.nav-dark-bg {
  background-color: colors.$card-bg-color;
}

.nav-link.active,
.nav-link.show {
  background-color: colors.$hover-bg-color;
  border-radius: 3px;
}

.navbar-brand {
  color: colors.$white;
  &:hover {
    color: colors.$white;
  }
}

.navbar-toggler-icon {
  color: colors.$white;
}

.navbar-toggler {
  margin-bottom: 8px;
}

.logout {
  color: colors.$red;
  &:hover {
    color: colors.$background-color;
  }
}
