@use "colors";

// Sass Variables

$font-family-base: "press start 2p", sans-serif;

$font-size-base: 0.9rem;

$body-bg: colors.$background-color;

$navbar-color: colors.$card-bg-color;

$navbar-brand-color: colors.$white;

$navbar-active-color: colors.$card-bg-color;
